<div id="customerModal" class="modal">

    <div class="modal-box">
    
    <h3>Customer Details</h3>
    
    <input id="custName" placeholder="Customer Name">
    <input id="custPhone" placeholder="Phone Number">
    
    <button onclick="openPayment()">Next</button>
    
    </div>
    
    </div>
    
    <div id="paymentModal" class="modal">
    
    <div class="modal-box">
    
    <h3>Select Payment</h3>
    
    <button onclick="setPayment()">Cash</button>
    <button onclick="setPayment()">UPI</button>
    <button onclick="setPayment()">Card</button>
    
    </div>
    
    </div>